<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleExecutable</key><string>VidGrabBubble</string>
	<key>CFBundleIdentifier</key><string>com.t4mag0.vidgrab.bubble</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>VidGrab Bubble</string>
	<key>CFBundleDisplayName</key><string>VidGrab Bubble</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>1.3.4</string>
	<key>CFBundleVersion</key><string>1.3.4</string>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>SBAppTags</key><array><string>hidden</string></array>
	<key>MinimumOSVersion</key><string>15.0</string>
	<key>UIDeviceFamily</key><array><integer>1</integer><integer>2</integer></array>
	<key>UIRequiredDeviceCapabilities</key><array><string>arm64</string></array>
	<key>UIUserInterfaceStyle</key><string>Dark</string>
	<key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
	<key>CFBundleURLTypes</key>
	<array><dict>
		<key>CFBundleURLName</key><string>com.t4mag0.vidgrab.bubble</string>
		<key>CFBundleURLSchemes</key><array><string>vidgrabbubble</string></array>
	</dict></array>
	<key>LSApplicationQueriesSchemes</key><array><string>vidgrab</string></array>
</dict>
</plist>
